recursive-include examples *
include NEWS.rst
include README.rst
include AUTHORS
include LICENSE
include tox.ini

recursive-include doc *.rst
include doc/conf.py
include doc/Makefile
include doc/.templates/layout.html
prune doc/.build

include github2/*.crt

include tests/*.py
recursive-include tests/data *
